html,body{
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family:"Segoe UI";
    background-color: rgba(44, 37, 56, 1);
}

nav{
    background-color: rgba(35, 17, 46, 0.2);
    height: 50px;
    width:auto;

}
.navbar{
    height:inherit;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    list-style-type: none;
    margin:0 3em 0 42em;
    text-align: right;
    position: auto;
}
nav li{
    display:inline-block;
    margin:1.8em;
    position: auto;
}

nav a{
    text-decoration: none;
    color:white 
}
.image{
    margin: 3em 0em 3em 5em;
    width: 40em;
    height: 30em;
    border-radius: 5%;
}
iframe{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border:none;
}

.big{
    margin:0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin:0 0 0 10em;
    
    background-color:rgba(98, 91, 110, 0.603);
    justify-content: center;

    width: 20em;
    border-radius:5%;
}


.container ul li{
    text-decoration:none;
    list-style-type: none;
    margin: 3em 0em;
    
    border-radius:2%;
    
    text-align: center;
    
    width: 15em;
    height: 2.5em;

    
    
}
.button{
    display: block;
    text-decoration: none;
    color: white;
    height: inherit;
    padding-top:0.4em;
    align-items: center;
    opacity: 1;
}


.container ul li:hover{
    opacity: 0.7;
}
.container p{
    font-style: bold;
    font-size: 2rem;
    margin:1em;
    
}



