html,body{
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family:"Segoe UI";
    background-color: #2c2538;
}

nav{
    background-color: rgba(35, 17, 46, 0.2);

}
.navbar{
    height: 3em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
}

ul{
    list-style-type: none;
    margin:0 0 0 42em;
    text-align: right;
}
li{
    display:inline-block;
    margin:1em;
}

a{
    text-decoration: none;
    color:white
    
}