html,body,ul,li,a{
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family:"Segoe UI";
    color:rgb(255, 255, 255);
    
}
body{
    background-color: rgba(44, 37, 56, 1);
}

nav{
    background-color: rgba(35, 17, 46, 0.2);
    height: 50px;
    width:auto;

}
.navbar{
    height:inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    height:1.4em;
    width:20em ;
    float:left;
}

nav ul{
    list-style-type: none;
    
    margin-right:5em;

}
nav li{
    display:inline-block;
    margin:1.8em;
    position: auto;
}

nav a{
    text-decoration: none;
    color:white ;
    font-size: 1rem;
}

.big1{
    margin-left: 200px;
    margin-right: 200px;
    border-left: 5px  rgb(187, 168, 199);
    background-color: rgb(35, 17, 46, 0.2);

 }

.big2{
    border: 100px;
    justify-content: space-between;
 }
 
 .boxL{
    padding-right: 50px darkgrey;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: darkgrey;
    border-right: darkgrey;
    border-bottom: darkgrey;
 }

 h1{
    font-size: 400%;
 }
