html,body,ul,li,a,div{
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family:"Segoe UI";
    color:rgb(255, 255, 255);
    
}
body{
    background-color: rgba(44, 37, 56, 1);
}

nav{
    background-color: rgba(35, 17, 46, 0.2);
    height: 50px;
    width:auto;

}
.navbar{
    height:inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    height:1.4em;
    width:20em ;
    float:left;
}

nav ul{
    list-style-type: none;
    
    margin-right:5em;

}
nav li{
    display:inline-block;
    margin:1.8em;
    position: auto;
}

nav a{
    text-decoration: none;
    color:white ;
    font-size: 1rem;
}